section#booker
    h3 books
    hr.bar
    .paraf Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer odio urna, maximus bibendum pulvinar eu, molestie eu arcu. Vestibulum elementum magna vel erat sagittis egestas. Vestibulum aliquam, ex eu vulputate porta, tellus enim sollicitudin ante
    .book-wrapper
        img(src='../assets/img/books-img/book3.jpg', alt='book1')
        img(src='../assets/img/books-img/book2.jpg', alt='book2') 
        img(src='../assets/img/books-img/book1.jpg', alt='book3')
        