section#follow
    hr.bar 
    h3 follow us
    .social-links
        a(href="https://twitter.com/stuntcoders?lang=en", target="_blank").icon-twitter
        a(href="https://www.facebook.com/stuntcoders/", target="_blank").icon-facebook