.mobile-nav
    ul
        li: a(href="#header") Home
        li: a(href="#booker") about us
        li: a(href="#contact-form") contact us
    .follow-us
        p Follow us
        .social
            a(href="https://twitter.com/stuntcoders?lang=en", target="_blank").icon-twitter
            a(href="https://www.facebook.com/stuntcoders/", target="_blank").icon-facebook
            
header#header
    .header-wrapper
        .logo
        .logo-dark
        nav
            a(href="#header") Home
            a(href="#booker") About Us
            a(href="#contact-form") Contact Us
        
        .mobile-nav-toggle
            span
    h1 
        span Short title here
   
    p.kicker Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    p.mobile-kicker Lorem ipsum dolor
    .ctas
        a(href="#").home-cta.buy Online store
        a(href="#").home-cta.learn Learn more
